# output files
output/*
tmp/*
venv

# build files & C++ SDK
bots/zoom_bot/lib/zoomsdk/*
bots/zoom_bot/build*
bots/zoom_bot/CMakeFiles
bots/zoom_bot/out/*
bots/zoom_bot/sock/*
bots/zoom_bot/vcpkg
bots/zoom_bot/core.*

# config files
bots/zoom_bot/config.toml

# log files
bots/zoom_bot/socket_data.log

# python pre-built files
*/__pycache__

# credentials
credentials/*

# vs code config
.vscode/

# environment file
.env
bots/zoom_bot/core.7
