# output files
bin/output/*
bin/tmp/*
venv

# build files & C++ SDK
bin/bots/zoom_bot/lib/zoomsdk/*
bin/bots/zoom_bot/build*
bin/bots/zoom_bot/CMakeFiles
bin/bots/zoom_bot/out/*
bin/bots/zoom_bot/sock/*
bin/bots/zoom_bot/vcpkg
bin/bots/zoom_bot/core.*
# config files
bots/zoom_bot/config.toml

# log files
bots/zoom_bot/socket_data.log

# python pre-built files
*/__pycache__

# credentials
bin/credentials/*

# vs code config
.vscode/

# environment file
.env
bots/zoom_bot/core.7
